asgiref==3.5.2
Django==4.0.4
django-widget-tweaks==1.4.12
sqlparse==0.4.2
tzdata==2022.1
certifi==2022.5.18.1
django-bootstrap-datepicker-plus==4.0.0
django-haystack==3.2.1
Pillow==9.1.1
simplejson==3.17.6
six==1.16.0
urllib3==1.26.9
Whoosh==2.7.4